streamlit==1.17.0
file_reader==1.2.0
text-summarization==0.7.0
sentiment==1.0.2
readability-analysis==2.2.1
named-entity==0.7.0
keyword-extraction==0.4.2
fitz==3.3.1
docx==0.18.1
io==0.7.1
yake==0.3.2
spacy==3.4.1
pandas==1.5.2
transformers==4.20.3
textstat==0.9.1
textblob==0.23.6
matplotlib==3.6.2
nltk==3.8.6
stopwords==0.19.4
word_tokenize==2.0.1
heapq==1.5.4
